.faq-row-wrapper {
    background: radial-gradient(#1f1f1f, #141414);
    .faq-title {
        background-color: transparent !important;
        color: #fff1f1 !important;
        display: none;
    }

    .faq-body {
        background-color: transparent !important;
        color: #fff1f1 !important;

        .faq-row {
            border-bottom: 1px solid #fff1f119 !important;

            .row-title {
                color: #fff1f1 !important;
                padding: 1rem !important;
                padding-left: 2rem !important;
                svg {
                    fill: white !important;
                }
                font-size: 1rem !important;
                font-weight: 600;
            }
            .row-content {
                .row-content-text {
                    color: #fff1f1 !important;
                    padding: 1rem !important;
                    padding-left: 2rem !important;
                    font-size: 0.9rem !important;
                }
            }
        }
    }
}