@use "../../../variables" as v;
.scrollbar {
  height: 780px;
  .vl {
    border-left: 6px solid map-get(v.$palette, Sangria);
    height: 100%;
  }
  .hl {
    border-top: 6px solid map-get(v.$palette, Sangria);
    width: 30px;
  }
  .movable-part {
    position: fixed;
  }
  .h {
    display: flex;
    background-color: red;
    p {
      font-family: v.$font-family;
      font-size: 27px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      align-self: self-start;
      background-color: green;
    }
  }
  .v {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    h3 {
      font-family: v.$font-family;
      font-size: 44px;
      font-weight: 700;
      line-height: 61px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
