@import '../../variables';

.markdown-container {
    padding: 4rem;
    max-width: 950px;
    margin: auto;
    color: $text-color;

    *:not(:last-child) {
        margin-bottom: 1rem;
    }

    img, video {
        display: block;
        max-width: 100%;
        margin: 2rem auto !important;
    }

    p {
        text-align: justify;
    }
}