@import '../../variables';


// styles.scss

.search-box {
  width: 100%;
  position: relative;
  display: flex;

}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  @media (max-width: 800px) {
    margin: 1rem 0.7rem;
   }
  .search-input {
    width: 70vw;
    @media (max-width: 800px) {
      width: 90vw;

    }
    border-radius: 1rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: white;
    background: none;
    font-family: Poppins;
    background-color: rgba(29, 29, 29, 0.5);
    height: 50px;
    padding: 0.8rem;
    @media (max-width: 800px) {
      font-size: 0.85rem;
     }
  }

  .search-button {
    text-align: center;
    color: white;
    border: none;
    background: none;
    font-size: 20px;
    position: relative;
    right: 30px;
    cursor: pointer;
  }

}