.hero {
  position: relative;
  width: 100%;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 69px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.38px;
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000,
      2px -2px 0 #000;
  }
}
