.navbar {
  // colors
  background-color: #000000;

  filter: drop-shadow(0px 11px 6px rgba(0, 0, 0, 0.15));
}

.navbar_links {
  // layout
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar_logo__link {
  // reset
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar_links a,
.subnavbtn {
  // reset
  border: none;
  outline: none;
  text-decoration: none;
  // color
  color: white;
  background-color: inherit;
  // font
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  // layout
  padding: 20px 16px;
}

.navbar_logo a:hover {
  background-color: transparent;
}

/* Add a red background color to navigation links on hover */
.navbar_links a:hover,
.subnav:hover .subnavbtn {
  background-color: green;
  cursor: pointer;
}

/* Style the subnav content - positioned absolute */
.subnav_content {
  display: none;
  position: absolute;
  background-color: green;
  z-index: 1;
}

/* Style the subnav links */
.subnav_content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav_content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav_content {
  display: flex;
  flex-direction: column;
}
