@import '../../variables';

.modal-eye {
    //display: none;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Semi-transparent background
    justify-content: center;
    align-items: center;
    z-index: 99;
    border-radius: 3rem;
    &.show {
      display: flex;
    }
  
    .modal_content {
      background: radial-gradient( #141414, rgba( #101010, 0.98));
      color: white;
      padding: 20px;
      border-radius: 8px;
      max-width: 60%;
      @media only screen and (max-width: 900px) {
        max-width: 90%;
      } 
      max-height: 80%;
      overflow: auto;
      border-radius: 3rem;

      h1 {
        font-size: 2rem;
        margin-bottom: 10px;
        text-align: center;
        color: $primary-color-light;

        @media only screen and (max-width: 900px) {
          font-size: 1.35rem;         margin: 0.5rem 0.3rem;
        } 
      }
  
      p {
        font-size: 1rem;
        line-height: 1.4;
        margin: 0.5rem 3rem;
        font-size: 1.2rem;
        color:rgb(170, 169, 169);
        text-align: center;
        @media only screen and (max-width: 600px) {
          font-size: 0.9rem;
          padding: 0.5rem;
          margin: 0.5rem 0.3rem;

        }
      }
    }
  }
  
  // Media query for responsiveness
  @media (max-width: 600px) {
    .modal .modal_content {
      max-width: 90%;
    }
  }
  
  .rc-slider {
  
  }
  .rc-slider-handle {
    border: solid 2px $primary-color !important;
    background-color: $primary-color !important;
    opacity: 1.0 !important;
  }
  
  .rc-slider-track, .rc-slider-tracks {
    background-color: $primary-color !important;
  
  }
  
  .rc-slider-rail {
    background-color: #555555 !important;
  }


  .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color:$primary-color-light !important;
    box-shadow: 0 0 0 5px $primary-color-light !important;
  }


  .flex-container {
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-around;
    @media (max-width: 900px) {
        flex-direction: column;
    }

  .control-container {
    margin: 1rem 1rem;
    p {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      @media only screen and (max-width: 600px) {
        font-size: 1.2rem;

      }

    }

  }
}


