$primary-color: #d60a0a;
$primary-color-2: #1a9eea;
$primary-color-light: #ed2f2f;
$background-color: #1d1d1d;
$background-color-light: #4d4d4d;
$text-color: #ecf0f1;

$text-shadow : 10px;
$text-border : 1px;
$neg-text-border : -1px;