@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// avoid resize warning
iframe#webpack-dev-server-client-overlay{display:none!important}


// setting fonts and background
body {
  font-family: 'Poppins', 'Roboto'; 
  background-color: #0d0d0d ;
  overflow-x: hidden;
}

// for the statistics package
body {
  --tooltip-background: rgba(0,5,11,0.9);
  --tooltip-color: #fff;
  --tooltip-border-radius: 5px;
  --tooltip-spacing: 5px;

  --chart-background: rgb(51, 51, 51);
  --chart-color: #fff;

  --chart-handle-fill: #2c343a;
  --chart-handle-stroke: $primary-color;
  --chart-handle-drag-fill: transparent;
  --chart-handle-dots:$primary-color;
  --chart-handle-line: $primary-color;
  }

a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from the parent element */
  cursor: pointer; /* Changes cursor to pointer on hover */
  /* Additional styles if needed */
}


// change scrollbar size and color
::-webkit-scrollbar {
  width: 4px; 
}
::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

// changing highlight color
::selection {
  background-color:  rgba($primary-color-light, 0.7)
}

.options-button {
  //height: 100vh;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 999;
  img {
    width: 30px;
  }
  cursor: pointer;
}
